# Jupyter Notebook y Python
## Jupyter Notebook
Jupyter Notebook es una forma de ejecutar código Python (y algunos otros lenguajes) de forma interactiva. A diferencia de un archivo Python estándar (.py), donde el código se ejecuta de principio a fin, un Jupyter Notebook (.ipynb) permite al programador ejecutar el código en pequeños trozos, observando los resultados intermedios.

Además, los cuadernos permiten incluir texto, imágenes, vídeos y fórmulas matemáticas. Esto hace que sean aún mejores para su uso en la ciencia de los datos, ya que permiten explicar líneas de razonamiento y mostrar gráficos.


## Python
Python es un lenguaje de programación de propósito general creado en la década de 1990. Lo primero que se puede notar al usar Python es que el código es muy limpio y tiene una buena legibilidad. Para los programadores que ya están familiarizados con lenguajes como C/C++ o Java la adaptación a Python es bastante fácil, y además el lenguaje es una excelente alternativa para empezar a aprender a programar.

Es muy importante entender que este no es un curso de Python, y mucho menos de programación. La introducción proporcionada en esta clase tiene como objetivo presentar los puntos principales del lenguaje, pero es muy recomendable estudiar Python por separado para aquellos que quieren entender mejor lo que está sucediendo. En este curso veremos cómo aplicar Python en el contexto de la ciencia de los datos, por lo que un buen conocimiento del lenguaje es fundamental.

¡Ahora vamos a una introducción práctica a Python!


## Variables

In [ ]:
# Declarando algunas variables (esto es un comentário)
nombre = 'Lucas'
edad = 28
altura = 1.75
soltero = True

In [ ]:
# Imprimiendo el valor de las variables
print(nombre)
print(edad)
print(altura)
print(soltero)

Lucas
28
1.75
True

In [ ]:
# Podemos ver el tipo de las variables
print(type(nombre))
print(type(edad))
print(type(altura))
print(type(soltero))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## Operaciones

In [ ]:
# Tenemos todas las operaciones aritméticas populares
a = edad + 10
b = altura - 5
c = altura * 2
d = edad / 3

print(edad)
print('Suma 10:', a)
print('Substrae 5:', b)
print('Multiplica por 2:', c)
print('Divide por 3:', d)

28
Suma 10: 38
Substrae 5: -3.25
Multiplica por 2: 3.5
Divide por 3: 9.333333333333334

In [ ]:
# Tambien se puede destacar operaciones de módulo (resto de la division)
# y de division entera

e = edad % 10 # Modulo
f = edad // 3 # Div. entera

print('Modulo 10:', e)
print('División entera por 3:', f)

Modulo 10: 8
División entera por 3: 9

Podemos realizar operaciones en la misma variable de manera simplificada

In [ ]:
var = 10
print(var)

var += 5 # var = var + 5
print(var)

10
15

In [ ]:
# Esto no existe en Python
var++

In [ ]:
print(var)

Un concepto diferente es el de operaciones aritméticas con datos que no son números

In [ ]:
# "Suma" de strings funciona como la concatenación
'a' + 'b'

In [ ]:
# Por ejemplo:
apellido = 'Ferrer'
nombre_completo = nombre + ' ' + apellido
print(nombre_completo)

In [ ]:
# Tambien podemos hacer "multiplicación" con strings
'a' * 10

Es importante percibir que no tenemos "substracción" ni "división".

## Listas
Muchas veces estaremos trabajando con listas de valores

In [ ]:
# Utilizamos [] para definir listas
gasto_por_mes = [100, 110, 200, 140]

gasto_por_mes

In [ ]:
# Con la función len() podemos ver el tamaño de la lista
len(gasto_por_mes)

In [ ]:
# Podemos inserir elementos en listas con .append()
gasto_por_mes.append(90)

gasto_por_mes

In [ ]:
# Tambien podemos concatenar dos listas
gasto_por_mes = gasto_por_mes + [100, 80, 250]

gasto_por_mes

Una cosa muy importante en listas es accesar sus elementos, lo que puede ser hecho uno a uno o por pedazos de la lista

In [ ]:
# La indexacion es hecha con [] y comieza en el indice 0
gasto_tercer_mes =gasto_por_mes[2]

gasto_tercer_mes

In [ ]:
# Tambien podemos retornar un intervalo de la lista usando :
# Solo es importante percibir que el intervalo es abierto en la derecha
gasto_tercer_al_sexto = gasto_por_mes[2:6]

gasto_tercer_al_sexto

In [ ]:
# Indices negativos significan indexar de atrás para adelante
ultimo_gasto = lgasto_por_mes[-1]

ultimo_gasto

Listas pueden contener cualquier tipo de datos, incluso combinando tipos diferentes en una misma lista

In [ ]:
# Una lista de strings
series = ['Friends', 'Vikings', 'YOU']
print(series)

# Una lista combinada con varios tipos de datos
mi_lista = [3.1415, 'Veinte', 42, True]
print(mi_lista)

Podemos incluso hacer una lista de listas

In [ ]:
# Una lista de listas
gastos = [[10, 22, 13], [11, 50], [32, 21, 48]]
print(gastos)

In [ ]:
# Para accesar usamos [] dos vezes
gastos[1][0]

## Tuplas
Son muy semejantes a las listas, por eso son inmutables. Son definidas con ()

In [ ]:
# Creando una tupla
mi_tupla = (70, 84, 10, 12)

print(mi_tupla)
print(mi_tupla[2])
print(mi_tupla[1:3])

In [ ]:
# No podemos alterar valores
mi_tupla[0] = 50

## Estructuras condicionales
Las estructuras condicionales de Python tienen estructura similar a otros lenguajes de programación. El detalle mas importante es que la definición de los bloques de código es através de la identación, encuanto otros lenguajes usan simbolos como {}.

In [ ]:
# Definiendo una variable que vamos a usar
mi_numero = 42

if mi_numero < 50:
    print('Menor que 50')
else:
    print('Mayor que 50')

Menor que 50

In [ ]:
mi_numero = 50

# Asi como en otros lenguajes, tenemos elif
if mi_numero < 50:
    print('Menor que 50')
elif mi_numero > 50:
    print('Mayor que 50')
else:
    print('Exactamente 50')

Exactamente 50

## Estructuras de repetición
Asi como otro lenguaje, Python posee las estructuras de repetición for y while. Es importante percibir que el for de Python es un for each, concepto presente en otros lenguajes de programación. No olvidarse de la identación.

In [ ]:
# Definiendo una lista
mi_lista = [3, 5, 7, 4, 9]

# Vamos hacer un lazo que imprima cada elemento de nuestra lista
for num in mi_lista:
    print(num)

3
5
7
4
9

In [ ]:
# Vamos hacer algo mas interesante
total = 0
for lucro in lucro_por_mes:
    total += lucro
    
num_meses = len(lucro_por_mes)
media = total/num_meses
media

En algunas situaciones queremos un lazo que itere por una varible con valores 0, 1, 2, 3, ... Podemos hacer esto utilizando el método range()

In [ ]:
# Perciba que aqui el intervalo de la derecha tambien es abierto
for i in range(8):
    print(i, 2*i)

In [ ]:
# Puede comenzar de un valor diferente de 0
for i in range(2, 9):
    print(i, 2*i)

In [ ]:
# Puede inclusive dar pasos diferentes de 1
for i in range(2, 9, 2):
    print(i, 2*i)

## Diccionarios
Diccionario es una estructura de datos utilizada para almacenar informaciones del tipo llave-valor. Ello es definido con {} y sus elementos son accesados con []

In [ ]:
# Definiendo un diccionario vacio
edades = {}

# Acrescentando dados
edades['Carla'] = 31
edades['Diego'] = 36
edades['Juan'] = 25

# Accesando un elemento através de la llave e imprimiendo el valor almacenado
print(edades['Carla'])

In [ ]:
# Tambien podemos crear un diccionario ya adicionando valores
edades = {
    'Maria': 23,
    'Jose': 34,
    'Juan': 28,
}

edades['Juan']

Algunas funciones utiles para manipular diccionarios

In [ ]:
# Asi como listas len() retorna el tamaño
print(len(edades))

In [ ]:
# Podemos comprobar si un valor con una cierta llave ya existe en el diccionario
print('Maria' in edades)
print('Joana' in edades)

## Funciones
Asi como en otros lenguajes podemos definir funciones en Python, esto es hecho através de la palavra-llave def

In [ ]:
# Definiendo una funcion simple
def imprime_doble(num):
    print(num * 2)

In [ ]:
imprime_doble(4)
imprime_doble(5)

In [ ]:
# Vamos a definir una función un poco mas compleja
def suma_lista(lista):
    total = 0
    for num in lista:
        total += num
    return total

In [ ]:
suma_lista([2, 4, 5])

In [ ]:
# Funciones pueden retornar mas de un valor
def suma_y_multiplica(a, b):
    suma = a + b
    multi = a * b
    
    return suma, multi

In [ ]:
s, m = suma_y_multiplica(3, 2)
print(s, m)

## Bibliotecas
Bibliotecas son conjuntos de clases y funciones que ya estan prontas. Existen bibliotecas nativas de Python y bibliotecas de terceros, con las mas diversas utilidades

In [ ]:
# Funciones relacionadas a números aleatórios
import random

# Numero aleatorio nen el intervalo [10, 20]
print(random.randint(10, 20))

In [ ]:
# Podemos importar apenas las funciones que queremos
from random import randint

print(randint(10, 20))

El contenido de Python aqui es básico, recomiendo que usted busque otras fuentes de estudo de Python para tener mayor facilidad en tareas de ciencia de datos. Lo que fué cubierto aqui es bien introductório, entonces en el recorrer de las aulas iremos introducir algunos conceptos nuevos conforme surja la necesidad.